<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body style="background-color:rgb(208, 196, 88)">
    <div class="container">
        <h1 id="dynamicHeading" style="margin-left:10%;"></h1>
        <form action="#" th:action="@{/savebook}" th:object="${book}" method="post" class="row g-3">
            <input type="hidden" th:field="*{id}" class="form-control" />
            <div class="col-md-4">
                <input type="text" th:field="*{title}" placeholder="Title" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="text" th:field="*{author}" placeholder="Author" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="text" th:field="*{publicationYear}" placeholder="Year" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="text" th:field="*{isbn}" placeholder="ISBN" class="form-control" />
            </div>
            <div class="col-md-4">
                <input type="text" th:field="*{price}" placeholder="Price" class="form-control" />
            </div>
            <div class="col-md-4">
                <select id="categorylist" th:field="*{category}" class="form-control">
                    <option value="" disabled selected hidden>Category</option>
                    <option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
                </select>
            </div>
            <input type="submit" value="Submit" class="btn btn-success" style="margin-top: 1%;"/> <input type="reset" value="Reset" class="btn btn-danger" style="margin-top: 1%;"/>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes('/newbook')) 
            {
                var header = document.getElementById('dynamicHeading');
                var categoryList = document.getElementById('categorylist');
                header.innerText = 'New Book📚';
                categoryList.value = '';
            } 
            else if (currentUrl.includes('/editbook')) 
            {
                var header = document.getElementById('dynamicHeading');
                header.innerText = 'Edit Book📚';
            }
        });
      </script>
</body>
</html>
