<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--Linkki Bootstrap-min tyyliin-->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body style="background-color:rgb(208, 196, 88)">
	<h1 style="margin-left:10%; ">Category</h1>
	<form action="#" th:action="@{/savecategory}"  th:object= ${category} method="post">
    <input type="hidden" th:field="*{categoryid}" class="form-control"/>
    <input type="text" th:field="*{name}" placeholder="Category type"/>
	<input type="submit" value="Submit" class="btn btn-success"/> <input type="reset" value="Reset" class="btn btn-danger"/>
	</form>
</body>
</html>

<!--TODO: Varmista, että lomake on täytetty hyväksytyillä tietotyypeillä!-->